 As this is a case study individual assignment, I agree and acknowledge that all code modified in this notebook is my own. I have not and will not collaborate with anyone on this assignment. If I have questions, I will ask the instructor or TAs.

In [1]:
# Please provide your name and agreement to the above statement as variables `name` (string) and `agree` (boolean)
name = "Lewis Blake"
agree = True

In [2]:
conditions = [isinstance(name, str), isinstance(agree, bool), agree]
for condition in conditions:
    if not condition:
        raise ValueError("Student has not agreed to work on this assignment alone and without collaboration or has not provided their name")

# Job Performance Prediction

You work for a software startup, Predict All The Things Inc. (PALT), and are approached by the CEO to build an algorithm that can help sift through resumes. PALT just closed a $3 million Series A round of funding and the CEO just landed a deal with a national retailer, SellsALOT, to help them with hiring Sales Associates.

They are able to obtain data on all the employees that work as Sales Associates throughout their stores as well as customer satisfaction and sales performance scores.

In this case study, you are tasked to build a model to predict job performance to assist HR in selecting applicants to interview.

The data was provided to you by the new HR intern, Keegan. This is the email you got from Keegan with the attached data.

>Hi!
>
>I hope you're doing well. I've attached the data we have about all employees. Please ensure this data stays confidential and is not shared with anyone who has not signed the NDA. The columns have all the information we have about our employees and the scoring rating that they've received from our performance monitors. We also have some employees that were fired and I have included those as well.
>
>I was also able to dig up some more information about our employees that I found on the internet. It took a lot of time but I hope it helps in making the model even better. Can't wait to see this thing in action. Everyone here is very excited about our collaboration with you and we look forward to this making hiring a lot easier for us.
>
>Thanks,
>
>Keegan Thiel
>
>HR Intern
>
>Human Resources
>
>SellsALOT


Data is available in the `employees.csv` file provided. 


SellsALOT is an Equal Opportunity Employer which is an employer who agrees not to discriminate against any employee or job applicant because of race, color, religion, national origin, sex, physical or mental disability, or age.

## Data Cleaning

First, let's investigate the data that we received from Keegan.

In [3]:
import pandas as pd
import matplotlib
import numpy as np
import sklearn as sk
from sklearn.model_selection import train_test_split
import datetime
from datetime import date

In [76]:
df = pd.read_csv("employees.csv")

In [77]:
df.head()

,First Name,Last Name,Date of Birth,Address,Zipcode,Gender,Race / Ethnicity,English Fluency,Spanish Fluency,Education,...,College GPA,Years of Experience,Years of Volunteering,Myers Briggs Type,Twitter followers,Instagram Followers,Requires Sponsorship,Customer Satisfaction Rating,Sales Rating,Fired
0,Sarah,Chang,1989-12-24,764 Howard Tunnel,30167,Female,Black,Fluent,Basic,High School,...,2.52,8.8,0.0,ISTJ,693,1108,False,2.21,2.07,Current Employee
1,Daniel,Taylor,1985-03-15,4892 Jessica Turnpike Suite 781,86553,Male,Black,Fluent,Basic,High School,...,3.90,13.7,0.0,ISFJ,507,1259,False,3.37,2.98,Current Employee
2,Heather,Stewart,1993-09-20,778 Linda Orchard Apt. 609,30167,Female,Black,Proficient,Basic,High School,...,2.63,5.2,0.0,INFP,599,868,False,1.50,1.36,Current Employee
3,Katherine,Dillon,1986-12-22,139 Linda Crossroad Suite 115,30167,Female,Black,Basic,Basic,High School,...,3.88,12.5,0.0,ISFP,1321,889,True,2.89,2.62,Current Employee
4,Sheri,Bolton,1991-02-24,1858 Lauren Orchard,60531,Female,Black,Proficient,Proficient,High School,...,3.30,7.0,0.0,ISFJ,414,13760,True,1.94,1.78,Current Employee

In [6]:
df.describe(include="all")

,First Name,Last Name,Date of Birth,Address,Zipcode,Gender,Race / Ethnicity,English Fluency,Spanish Fluency,Education,...,College GPA,Years of Experience,Years of Volunteering,Myers Briggs Type,Twitter followers,Instagram Followers,Requires Sponsorship,Customer Satisfaction Rating,Sales Rating,Fired
count,2000,2000,2000,2000,2000.000000,2000,2000,2000,2000,2000,...,1645.000000,2000.000000,2000.000000,2000,2000.000000,2.000000e+03,2000,2000.000000,2000.00000,2000
unique,477,696,1701,2000,NaN,2,3,3,3,5,...,NaN,NaN,NaN,16,NaN,NaN,2,NaN,NaN,2
top,Michael,Smith,1990-05-09,64538 Harris Fork Suite 487,NaN,Female,Black,Fluent,Basic,High School,...,NaN,NaN,NaN,ISFJ,NaN,NaN,False,NaN,NaN,Current Employee
freq,42,45,4,1,NaN,1201,1000,1183,1795,881,...,NaN,NaN,NaN,218,NaN,NaN,1813,NaN,NaN,1844
mean,NaN,NaN,NaN,NaN,53300.740500,NaN,NaN,NaN,NaN,NaN,...,3.251465,8.042550,0.263000,NaN,1065.144500,9.586589e+03,NaN,2.220175,2.06511,NaN
std,NaN,NaN,NaN,NaN,17455.384226,NaN,NaN,NaN,NaN,NaN,...,0.430466,4.674366,0.907487,NaN,7499.266485,2.269563e+05,NaN,1.058473,0.97946,NaN
min,NaN,NaN,NaN,NaN,24310.000000,NaN,NaN,NaN,NaN,NaN,...,2.500000,0.000000,0.000000,NaN,300.000000,5.000000e+02,NaN,0.000000,0.00000,NaN
25%,NaN,NaN,NaN,NaN,43357.000000,NaN,NaN,NaN,NaN,NaN,...,2.870000,3.900000,0.000000,NaN,364.000000,6.710000e+02,NaN,1.307500,1.25750,NaN
50%,NaN,NaN,NaN,NaN,55864.000000,NaN,NaN,NaN,NaN,NaN,...,3.270000,8.100000,0.000000,NaN,466.500000,9.925000e+02,NaN,2.250000,2.06000,NaN
75%,NaN,NaN,NaN,NaN,60531.000000,NaN,NaN,NaN,NaN,NaN,...,3.610000,12.100000,0.000000,NaN,769.250000,2.042000e+03,NaN,3.080000,2.86000,NaN
max,NaN,NaN,NaN,NaN,86553.000000,NaN,NaN,NaN,NaN,NaN,...,4.000000,17.000000,5.000000,NaN,275255.000000,9.798199e+06,NaN,4.950000,4.68000,NaN

In [34]:
print("The columns of data are:")
list(df.columns)

The columns of data are:

['First Name',
 'Last Name',
 'Date of Birth',
 'Address',
 'Zipcode',
 'Gender',
 'Race / Ethnicity',
 'English Fluency',
 'Spanish Fluency',
 'Education',
 'High School GPA',
 'College GPA',
 'Years of Experience',
 'Years of Volunteering',
 'Myers Briggs Type',
 'Twitter followers',
 'Instagram Followers',
 'Requires Sponsorship',
 'Customer Satisfaction Rating',
 'Sales Rating',
 'Fired']

Based on the data above we need to do the following:

1. Split Myers Briggs into subtypes
1. Convert categorical columns to dummy variables
1. Calculate Age based on date of birth

The [Myers Briggs Type Indicator](https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator) (MBTI) descibes people as one of two types for each of:

* extraversion (E) or introversion (I)
* sensing (S) or intuition (N)
* thinking (T) or feeling (F)
* judgment (J) or perception (P)

It would make more sense for us to represent people as one or the other of these instead of creating all the possible cases. That way a model can learn based on each of those factors as well as their combination. 

Your next task is to split the MBTI column into four columns in the dataframe:

* MBTI_EI with value `E` or `I`
* MBTI_SN with value `S` or `N`
* MBTI_TF with value `T` or `F`
* MBTI_JP with value `J` or `P`

That correspond to the same row's Myers Briggs Type.

In [84]:
df["MBTI_EI"] = df["Myers Briggs Type"].str[:1]
df["MBTI_SN"] = df["Myers Briggs Type"].str[1:2]
df["MBTI_TF"] = df["Myers Briggs Type"].str[2:3]
df["MBTI_JP"] = df["Myers Briggs Type"].str[3:4]

Index(['First Name', 'Last Name', 'Date of Birth', 'Address', 'Zipcode',
       'Gender', 'Race / Ethnicity', 'English Fluency', 'Spanish Fluency',
       'Education', 'High School GPA', 'College GPA', 'Years of Experience',
       'Years of Volunteering', 'Myers Briggs Type', 'Twitter followers',
       'Instagram Followers', 'Requires Sponsorship',
       'Customer Satisfaction Rating', 'Sales Rating', 'Fired', 'MBTI_EI',
       'MBTI_SN', 'MBTI_TF', 'MBTI_JP'],
      dtype='object')

In [85]:
assert len(set(df["MBTI_EI"])) == 2
assert "E" in set(df["MBTI_EI"]) and "I" in set(df["MBTI_EI"])
assert len(set(df["MBTI_SN"])) == 2
assert "S" in set(df["MBTI_SN"]) and "N" in set(df["MBTI_SN"])
assert len(set(df["MBTI_TF"])) == 2
assert "T" in set(df["MBTI_TF"]) and "F" in set(df["MBTI_TF"])
assert len(set(df["MBTI_JP"])) == 2
assert "J" in set(df["MBTI_JP"]) and "P" in set(df["MBTI_JP"])

1. ~~Split Myers Briggs into subtypes~~
1. Convert categorical columns to dummy variables
1. Calculate Age based on date of birth

Dumy variables are variables that allow us to convert a category into several binary variables. For example, if we had a color value that we were storing and we knew it could only have the values `red`, `green`, and `blue`, then instead of storing the color as those strings, we can store three binary variables: `is_red`, `is_green`, and `is_blue`. 

We can do this in pandas easily by using [`get_dummies`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html).

In [81]:
# Determine all the categorical columns and save them to categorical_columns
# Note that this does not include the binary features
categorical_columns = pd.DataFrame({"MBTI_EI": df["MBTI_EI"], "MBTI_SN": df["MBTI_SN"], "MBTI_TF": df["MBTI_TF"], "MBTI_JP": df["MBTI_JP"]})
#df.join(categorical_columns, how = "outer")
#df.columns

In [82]:
assert len(categorical_columns) > 8
for category in categorical_columns:
    assert category in df.columns

In [83]:
# For every column in the categorical features
# Calculate the dummy variables and add them to the dataframe
tmp = pd.get_dummies(categorical_columns).copy()
df.join(tmp, how = "outer")

,First Name,Last Name,Date of Birth,Address,Zipcode,Gender,Race / Ethnicity,English Fluency,Spanish Fluency,Education,...,MBTI_TF,MBTI_JP,MBTI_EI_E,MBTI_EI_I,MBTI_SN_N,MBTI_SN_S,MBTI_TF_F,MBTI_TF_T,MBTI_JP_J,MBTI_JP_P
0,Sarah,Chang,1989-12-24,764 Howard Tunnel,30167,Female,Black,Fluent,Basic,High School,...,T,J,0,1,0,1,0,1,1,0
1,Daniel,Taylor,1985-03-15,4892 Jessica Turnpike Suite 781,86553,Male,Black,Fluent,Basic,High School,...,F,J,0,1,0,1,1,0,1,0
2,Heather,Stewart,1993-09-20,778 Linda Orchard Apt. 609,30167,Female,Black,Proficient,Basic,High School,...,F,P,0,1,1,0,1,0,0,1
3,Katherine,Dillon,1986-12-22,139 Linda Crossroad Suite 115,30167,Female,Black,Basic,Basic,High School,...,F,P,0,1,0,1,1,0,0,1
4,Sheri,Bolton,1991-02-24,1858 Lauren Orchard,60531,Female,Black,Proficient,Proficient,High School,...,F,J,0,1,0,1,1,0,1,0
5,Donna,Davis,1996-05-26,4232 Tina Forks,86553,Female,Black,Proficient,Basic,Associates,...,T,J,1,0,0,1,0,1,1,0
6,Benjamin,Shelton,1985-01-15,186 Warren Mount Apt. 396,30167,Male,Black,Proficient,Basic,Associates,...,F,J,1,0,0,1,1,0,1,0
7,Kevin,Hayes,1994-01-21,515 Tucker Plaza Suite 304,59010,Male,Black,Fluent,Basic,High School,...,T,P,1,0,0,1,0,1,0,1
8,Autumn,Robinson,1996-05-05,0123 Audrey Union,60531,Female,Black,Fluent,Basic,None,...,F,J,0,1,0,1,1,0,1,0
9,Kimberly,Becker,1983-04-12,91615 Wilson Place,60531,Female,Black,Fluent,Basic,High School,...,T,P,0,1,1,0,0,1,0,1
10,Chloe,Arellano,1995-01-16,00869 Jordan Fields,86553,Female,Black,Fluent,Basic,High School,...,F,J,0,1,0,1,1,0,1,0
11,Maria,Bell,1985-11-22,9163 Rebecca Loop,43711,Female,Black,Basic,Basic,High School,...,F,P,0,1,1,0,1,0,0,1
12,Stephanie,Hudson,1994-09-11,022 John Pine Apt. 207,55864,Female,Black,Basic,Basic,None,...,T,P,0,1,0,1,0,1,0,1
13,Michael,Mccullough,1997-09-15,56428 Ellis Cliff Suite 842,55864,Male,Black,Basic,Basic,None,...,T,J,1,0,0,1,0,1,1,0
14,Cynthia,Benton,1988-10-25,992 Hughes Lakes Suite 093,59010,Female,Black,Basic,Basic,High School,...,T,P,0,1,0,1,0,1,0,1
15,Melissa,Moore,1986-08-15,9606 Bradley Springs Suite 271,30167,Female,Black,Fluent,Basic,None,...,F,P,1,0,0,1,1,0,0,1
16,David,Moore,1991-10-20,900 Larry Loop Suite 638,43357,Male,Black,Proficient,Basic,High School,...,F,P,1,0,0,1,1,0,0,1
17,Yvonne,Schultz,1984-03-30,06650 Jennifer Alley Suite 891,55864,Female,Black,Fluent,Basic,High School,...,F,P,0,1,1,0,1,0,0,1
18,Connor,Franklin,1986-03-15,21761 Robin Squares Apt. 428,60531,Male,Black,Fluent,Basic,None,...,F,P,0,1,1,0,1,0,0,1
19,Ruth,Newman,1984-10-13,00034 Potts Views Suite 097,30167,Female,Black,Basic,Basic,High School,...,T,J,0,1,0,1,0,1,1,0
20,Michael,Orr,1993-09-18,236 Smith Curve,59010,Male,Black,Fluent,Basic,High School,...,F,J,0,1,0,1,1,0,1,0
21,Gavin,Clarke,1995-01-18,004 Tina Glens,60531,Male,Black,Fluent,Basic,None,...,F,P,1,0,1,0,1,0,0,1
22,James,Kelley,1987-10-26,042 Chandler Grove,30167,Male,Black,Fluent,Basic,Associates,...,F,J,0,1,0,1,1,0,1,0
23,Russell,Evans,1984-09-03,755 Darren Mews,86553,Male,Black,Proficient,Basic,None,...,F,J,0,1,1,0,1,0,1,0
24,Amanda,Rogers,1994-07-07,961 Christopher Shoals Apt. 016,43357,Female,Black,Basic,Basic,High School,...,T,J,0,1,0,1,0,1,1,0
25,Kristie,Roberts,1998-06-24,3615 Yvette Passage,60531,Female,Black,Fluent,Basic,None,...,T,J,1,0,0,1,0,1,1,0
26,Christopher,Lee,1984-10-12,087 Harris Mews,55864,Male,Black,Fluent,Basic,Associates,...,T,P,1,0,0,1,0,1,0,1
27,Dawn,Davidson,1996-05-23,37658 Garcia Pine,86553,Female,Black,Proficient,Basic,None,...,F,J,1,0,0,1,1,0,1,0
28,John,Elliott,1993-09-07,757 Reid Trafficway Suite 305,59010,Male,Black,Fluent,Basic,None,...,T,P,0,1,1,0,0,1,0,1
29,Michele,Burgess,1988-03-28,24926 Robbins Station Apt. 180,43711,Female,Black,Fluent,Basic,High School,...,T,P,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,Victoria,Ryan,1993-07-02,22316 Rivas Streets,24310,Female,Hispanic,Fluent,Basic,Undergraduate,...,T,J,0,1,0,1,0,1,1,0
1971,Christina,Vargas,1998-04-24,47119 Melvin Locks,24310,Female,Hispanic,Fluent,Basic,Associates,...,T,P,1,0,1,0,0,1,0,1
1972,Michael,George,1991-05-28,07080 Jodi Ports Suite 756,24310,Male,Hispanic,Fluent,Basic,Associates,...,T,P,0,1,0,1,0,1,0,1
1973,Sarah,Foster,1994-01-12,543 Sexton Course,54821,Female,Hispanic,Fluent,Fluent,Undergraduate,...,T,J,0,1,1,0,0,1,1,0
1974,Cindy,Bailey,1989-06-23,502 Larsen Greens,54821,Female,Hispanic,Basic,Basic,High School,...,T,J,1,0,0,1,0,1,1,0
1975,Steven,Rose,1983-03-05,331 Ashley Viaduct Suite 505,54821,Male,Hispanic,Fluent,Basic,Associates,...,T,J,0,1,1,0,0,1,1,0
1976,April,Hall,1987-02-07,094 Miller Corner Apt. 665,24310,Female,Hispanic,Fluent,Basic,High School,...,T,P,0,1,0,1,0,1,0,1
1977,Taylor,Horton,1984-02-24,7781 Megan Green Apt. 697,54821,Female,Hispanic,Fluent,Basic,Associates,...,T,J,0,1,0,1,0,1,1,0
1978,Michael,Warren,1995-12-30,0874 Taylor Harbors,54821,Male,Hispanic,Proficient,Basic,Undergraduate,...,T,J,1,0,0,1,0,1,1,0
1979,Patrick,Austin,1994-09-12,56128 Manuel Lake,72361,Male,Hispanic,Fluent,Basic,Undergraduate,...,F,J,1,0,0,1,1,0,1,0
1980,Kimberly,Schmidt,1997-04-05,793 Wayne Cape Apt. 682,24310,Female,Hispanic,Proficient,Basic,Undergraduate,...,T,J,1,0,0,1,0,1,1,0
1981,Amanda,Martin,1996-11-07,6557 Olsen Radial,24310,Female,Hispanic,Fluent,Basic,High School,...,F,J,0,1,0,1,1,0,1,0
1982,Nancy,Salinas,1987-02-27,77050 Daniel Underpass,54821,Female,Hispanic,Fluent,Basic,Associates,...,F,J,1,0,0,1,1,0,1,0
1983,Tyler,Webb,1991-04-27,7865 Emily Streets Suite 545,54821,Male,Hispanic,Fluent,Basic,Associates,...,F,J,0,1,0,1,1,0,1,0
1984,Katelyn,Stewart,1989-03-31,7267 Hopkins Crest,72361,Female,Hispanic,Proficient,Basic,High School,...,T,P,0,1,1,0,0,1,0,1
1985,Sarah,Park,1998-10-23,0970 Kevin Mount Suite 818,24310,Female,Hispanic,Fluent,Basic,Undergraduate,...,T,J,1,0,0,1,0,1,1,0
1986,James,Rojas,1990-01-21,143 William Summit,72361,Male,Hispanic,Fluent,Basic,High School,...,F,J,1,0,0,1,1,0,1,0
1987,Mary,Phillips,1990-12-26,7807 Jordan Villages Suite 554,54821,Female,Hispanic,Proficient,Basic,Undergraduate,...,T,J,1,0,0,1,0,1,1,0
1988,Jared,Kramer,1988-05-19,410 Gordon Bridge Suite 279,54821,Male,Hispanic,Proficient,Basic,Associates,...,T,J,1,0,1,0,0,1,1,0
1989,Nicole,Mata,1998-01-19,821 Angela Underpass,54821,Female,Hispanic,Fluent,Basic,High School,...,F,J,0,1,1,0,1,0,1,0
1990,Misty,Wiggins,1985-03-10,8053 Johnson Stream Suite 291,24310,Female,Hispanic,Fluent,Basic,High School,...,F,J,0,1,1,0,1,0,1,0
1991,Dennis,Snyder,1994-11-12,44216 Manning Rest Suite 053,72361,Male,Hispanic,Fluent,Basic,High School,...,F,J,0,1,0,1,1,0,1,0
1992,Caitlyn,Sanford,1988-05-29,142 Terry Springs Suite 166,43357,Female,Hispanic,Fluent,Proficient,None,...,F,J,0,1,0,1,1,0,1,0
1993,Emily,Miller,1989-07-12,16827 Marissa Parks Suite 654,24310,Female,Hispanic,Proficient,Basic,None,...,F,P,1,0,0,1,1,0,0,1
1994,Lisa,Wilson,1996-07-11,11292 Christina Pass Suite 116,72361,Female,Hispanic,Proficient,Basic,Associates,...,T,J,0,1,0,1,0,1,1,0
1995,Joy,Green,1987-02-22,4233 Jones Spring Apt. 710,24310,Female,Hispanic,Fluent,Basic,High School,...,F,P,1,0,0,1,1,0,0,1
1996,William,Cook,1994-05-16,5612 David Corner,54821,Male,Hispanic,Fluent,Proficient,Associates,...,F,P,1,0,0,1,1,0,0,1
1997,David,Carter,1983-02-24,544 Monroe Keys,54821,Male,Hispanic,Basic,Basic,None,...,T,J,0,1,0,1,0,1,1,0
1998,Bryan,Dickerson,1987-03-16,2043 Tanya Lights Suite 300,24310,Male,Hispanic,Proficient,Basic,Associates,...,F,P,0,1,0,1,1,0,0,1
1999,Patricia,Flores,1987-09-12,20404 Wagner Village,54821,Female,Hispanic,Basic,Basic,Associates,...,T,P,0,1,1,0,0,1,0,1

In [74]:
assert len(list(df.columns)) > 45

AssertionError:

In [ ]:
print("The current columns are:")
list(df.columns)

In [ ]:
# Now let's drop all the categorical features columns from the dataframe
# So that we don't have duplicate information stored
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
print("The current columns are:")
list(df.columns)

In [ ]:
assert 45 > len(list(df.columns)) > 30

1. ~~Split Myers Briggs into subtypes~~
1. ~~Convert categorical columns to dummy variables~~
1. Calculate Age based on date of birth

In [ ]:
def calculate_age(born):
    """Calculates age based on date of birth using https://stackoverflow.com/a/9754466/818687

    Args:
        born (datetime): The date of birth

    Returns:
        int: The age based on date of birth
    """
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [ ]:
# Add an "Age" column to the dataframe that calculates people's ages based on their date of birth
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert df["Age"].min() == 20
assert df["Age"].max() == 36
assert df["Age"].median() == 28

## Modelling

Based on your understanding of the data, select the features that you want to use to predict:

1. Customer Satisfaction
1. Sales Performance
1. Fired

In [ ]:
# Save the columns we are trying to predict to targets
# Make sure that if we had a categorical column, that you use the dummy representation(s)
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert len(targets) == 3
for target in targets:
    assert target in df.columns

Your prediction will be used to rank applicants for interviews with HR. **Which features will you select to use in your model?**

In [ ]:
print("The available columns are:")
list(df)

In [ ]:
# Enter all the features you want to use in a list and save it to rank_features
# These are the features for the model that will rank applicants for interviews
# YOUR CODE HERE
raise NotImplementedError()

Why did you choose the features you did?

In [ ]:
## Save your reasoning in a string to the variable ranking_reason

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(ranking_reason, str)
assert len(ranking_reason) > 20

In [ ]:
# Perform a train and test split on the data with the variable names:
# rank_x_train for the training features
# rank_x_test for the testing features
# rank_y_train for the training targets
# rank_y_test for the testing targets
# The test dataset should be 20% of the total dataset

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert (len(rank_x_train) / (len(rank_x_test) + len(rank_x_train))) == 0.8
assert (len(rank_y_train) / (len(rank_y_test) + len(rank_y_train))) == 0.8
assert len(rank_x_train) == len(rank_y_train)
assert len(rank_x_test) == len(rank_y_test)

In [ ]:
# Select models of your choosing, import them and perform a parameter search to train them on each of the targets
# Determine an appropriate metric for measuring your performance and report that.

# YOUR CODE HERE
raise NotImplementedError()

# You should have print messages that state something like:
# To predict the target (target), I trained a (model) model
# and determined the best hyperparameters as (param1 = p1), (param2 = p2)...
# resulting in a (metric) score of (score)

Would your feature choice change if HR was going to use your model to directly hire applicants without an interview? **Which features will you select to use in that model?**

In [ ]:
print("The available columns are:")
list(df)

In [ ]:
# Enter all the features you want to use in a list and save it to selection_features
# These are the features for the model that will directly hire the top applicants
# YOUR CODE HERE
raise NotImplementedError()

Why did you choose the features you did?

In [ ]:
## Save your reasoning in a string to the variable selection_reason

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(selection_reason, str)
assert len(selection_reason) > 20

Why was your choice different from or the same as the ranking features?

In [ ]:
# Save your reasoning in a string to the variable
# same_reason if the features are the same
# different_reason if the features are different
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
if all([rf in selection_features for rf in rank_features]) and all([sf in rank_features for sf in selection_features]):
    print("Your features for ranking and selection are the same.")
    assert isinstance(same_reason, str)
    assert len(same_reason) > 20
else:
    print("Your features for ranking and selection are different.")
    assert isinstance(different_reason, str)
    assert len(different_reason) > 20

In [ ]:
# Perform a train and test split on the data with the variable names:
# selection_x_train for the training features
# selection_x_test for the testing features
# selection_y_train for the training targets
# selection_y_test for the testing targets
# The test dataset should be 20% of the total dataset

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert (len(selection_x_train) / (len(selection_x_test) + len(selection_x_train))) == 0.8
assert (len(selection_y_train) / (len(selection_y_test) + len(selection_y_train))) == 0.8
assert len(selection_x_train) == len(selection_y_train)
assert len(selection_x_test) == len(selection_y_test)

Now let's see if the model performs differently.

In [ ]:
# Select models of your choosing, import them and perform a parameter search to train them on each of the targets
# Determine an appropriate metric for measuring your performance and report that.

# YOUR CODE HERE
raise NotImplementedError()

# You should have print messages that state something like:
# To predict the target (target), I trained a (model) model
# and determined the best hyperparameters as (param1 = p1), (param2 = p2)...
# resulting in a (metric) score of (score)

In [ ]:
# Follow this up with a comparison between the performance on your 2 models using the different features.
# You should print something like
# Using rank features for target (target) the model scored (score)
# versus using the selection features where it scored (score)
# YOUR CODE HERE
raise NotImplementedError()

## Feedback

In [ ]:
def feedback():
    """Provide feedback on the contents of this exercise
    
    Returns:
        string
    """
    # YOUR CODE HERE
    raise NotImplementedError()